<div class="username center-align row">
  <h4 class="username__title col s10 offset-s1 col m4 offset-m1 col xl4 offset-xl1 ObjectList "> Username Here</h4>
</div>

<div class="row GoalsList">
  <ul class="collapsible center-align col s12 col m4 offset-m1 ObjectList" data-collapsible="accordion">
    <li class="ObjectList__One">
      <div class="collapsible-header ObjectList__One__Title center-align"> Goals</div>
      <div class="collapsible-body ObjectList__One__Topic">
        <ul class="collapsible col s12" data-collapsible="expandable">
          <li>
            <h6 class="collapsible-header goals">New Goal</h6>
          </li>
          <li>
            <div class="collapsible-header goals__header"> title #{create do to list each}</div>
            <div class="collapsible-body goals__body"> definition  #{create do to list each}</div>
          </li>
        </ul>
      </div>
    </li>
    <!--  Template to add a second object to this list
    <li class="ObjectList__Two">
      <div class="collapsible-header "> </div>
        <div class="collapsible-body goals__listObject">
        <ul class="collapsible center-align col s12" data-collapsible="expandable">
          <li>
            <h6 class="collapsible-header goals__listObject"> Create A New Goal</h6>
          </li>
          <li>
            <div class="collapsible-header goals__listObject"> title #{}</div>
            <div class="collapsible-body goals__listObject"> definition #{}</div>
          </li>
          <li>
            <div class="collapsible-header"> title #{}</div>
            <div class="collapsible-body"> definition #{}</div>
          </li>
        </ul>
      </div>
    </li> -->
  </ul>
</div>
<div class='row'>
  <div class="boxes col s12 col m4 offset-m1">
  </div>
</div>
<div class='row'>
  <div class="boxes col s12 col m4 offset-m1">
  </div>
</div>
<div class='row'>
  <div class="boxes col s12 col m4 offset-m1">
  </div>
</div>